<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Special Deals</h1>
        <p>
          This is the list of the best deals
        </p>
      </div>
    </div>
    <div class="row">

      <svg style="display: none;">
        <symbol id="arrow-right" viewBox="0 0 20 10">
          <path d="M14.84 0l-1.08 1.06 3.3 3.2H0v1.49h17.05l-3.3 3.2L14.84 10 20 5l-5.16-5z"></path>
        </symbol>
      </svg>

      <div class="col-12 col-md-4 mb-4" *ngFor="let deal of Deals; let i = index">
        <div class="card h-100">
          <a >
            <span class="special" >Special</span>
            <img src="{{deal.imageUrl}}" class="card-img-top" alt="...">
          </a>

          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li class="text-muted text-barr">{{deal.originalPrice}} $</li>
              <li class="text-muted text-success">{{deal.salePrice}} $</li>
            </ul>  
          <div class="card-text">
            <a  class="h2 text-decoration-none text-dark" >{{deal.name}}</a>
          </div>  

            <ul class="list-unstyled d-flex justify-content-between">
              <li>
            <a class="morebt" routerLinkActive="active" routerLink="/deals-details/{{deal.dealId}}">
              <span class="bttext">DETAILS</span>
              <div class="bticon">
                <svg>
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </div>
            </a>
          </li>
          </ul> 
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
<!-- End Featured Product -->