<!-- Start Admin Product -->
<section class="bg-light">
  <div class="container py-5">

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">

          <!-- forms start -->
          <div class="card mb-grid">
            <div class="card-header">
              <div class="card-header-title">Add a new Deal</div>
            </div>
            <div class="card-body">

              <form [formGroup]="dealForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                  <label class="form-label" for="ProductName">Name</label>
                  <input type="text" class="form-control" id="ProductName"
                    placeholder="Put the name of the product here" formControlName="name" required>
                </div>

                <div class="form-group">
                  <label class="form-label" for="ProductDescreption">Description</label>
                  <textarea class="form-control" id="ProductDescreption" rows="3" formControlName="description" ></textarea>
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label class="form-label" for="ProductRegularPrice">Regular price</label>
                    <input type="text" class="form-control" id="ProductRegularPrice"
                      placeholder="Put the Regular price here" formControlName="originalPrice" required >
                  </div>

                </div>

                <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-primary  col-2" routerLink="/deals-list" >Cancel</button>
              </div>

              </form>
            </div>
          </div>
          <!-- forms ends -->

        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Admin Product -->